<div id='calendar'></div>
<button class="btn btn-primary" ng-click="showModal1 = true">Show Modal</button>
<button class="btn btn-primary" ng-click="showModal2 = true">Show Static Modal</button>

<modal-directive visible="showModal1" on-sown="modalOneShown()" on-hide="modalOneHide()">
    <modal-header title="Modal Titel 1"></modal-header>
    <modal-body>
        <h3>This is modal body</h3>
    </modal-body>
    <modal-footer>
        <button class="btn btn-primary" ng-click="show(2)">Save</button>
    </modal-footer>
</modal-directive>

<modal-directive visible="showModal2" backdrop="static">
    <modal-header title="Modal Titel 2"></modal-header>
    <modal-body>
        <h3>This is modal body</h3>
    </modal-body>
    <modal-footer>
        <button class="btn btn-primary" ng-click="hide(2)">Save</button>
    </modal-footer>
</modal-directive>
<style>
    #calendar {
		max-width: 900px;
		margin: 0 auto;
	}
    .closeon {
        float:right;
        display:inline-block;
        padding:0 3px;
        background:#ccc;
        font-size: 10px
    }
    .fc-content {
        height: 20px;
    }
    .fc-content .fc-title {
        line-height: 20px
    }
</style>